<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/tx
     		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
        >

    <import resource="storageConfig.xml"/>

    <tx:annotation-driven transaction-manager="txManager"/>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  		<property name="dataSource" ref="dataSource"/>
  	</bean>

	<bean id="kvStore" class="com.migrate.storage.impl.DBKVStore" p:dataSource-ref="dataSource" >
    </bean>

    <bean id="syncNotification" class="com.migrate.gcm.GCMSyncNotification" >
    </bean>

 	<bean id="objectStore" class="com.migrate.storage.impl.ObjectStoreImpl">
    </bean>

</beans>
