<!doctype html>

<html ng-app="MigrateSchema">
<head>
    <script src="/angular-1.2.7/angular.min.js"></script>
    <script src="/global.js"></script>
    <script src="/manage/schema/SchemaManagerController.js"></script>

    <link rel="stylesheet" href="/migrate.css">
</head>

<!--TODO: why does it show three dots before loading data??????? -->

<body>
<h2>Migrate Schema Editor: </h2>
<div ng-controller="SchemaEditorController">
    <form ng-submit="addProperty()">
        Edit Migrate Schema:<br>
        <hr>
        Schema:<br>
        <p>
            Package: <input type="text" ng-model="schemaPackage"  size="50" placeholder="Enter package"><br>
            Name: <input type="text" ng-model="schemaName"  size="50" placeholder="Enter name"><br>
        </p>
        <hr>

        Properties:<br>
        <ul class="unstyled">
            <li ng-repeat="property in properties">
                <span>{{property.migrateProperty.name}} : {{property.migrateType.typeName}}
                <button type="button" ng-click="deleteProperty(property.migrateProperty.name)">Delete</button>
                </span>
            </li>
        </ul>

        <hr>

        Add new property:<br>
        <p>
            Name: <input type="text" ng-model="propertyName"  size="90" placeholder="Enter name">
            Type: <select ng-model="propertyType" ng-options="migrateType.typeName for migrateType in migrateTypes"></select>
        </p>

        <input class="btn-primary" type="submit" value="Add">
    </form>

    <form ng-submit="postSchema()">
        <input class="btn-post" type="submit" value="Modify Schema">
    </form>

    <br>
    <br>
    <a href="/dashboard/dashboard.jsp">Dashboard</a>
</div>
</body>
</html>
